:root {
  --navi-color: #36c500;
  --spot-color: #ff9500;
  --spot-color-lighten: #ffcb82;
  --goal-color: #00aeff;
}

html,
body {
  background: #000;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.startBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.startBox input[type="range"] {
  width: 200px;
}

.startBox .label {
  color: #fff;
  margin-right: 4px;
}
